{
 :mannschaften [{:name "1. Mannschaft"
                 :liga "Bezirksklasse"
                 :turnierde-href "http://www.turnier.de/sport/team.aspx?id=94E5F5B7-8DF7-407A-B203-76B876E42DBE&team=198"
                 :bild "m1-2016.jpg"}
                {:name "2. Mannschaft"
                 :liga "Kreisliga"
                 :turnierde-href "http://www.turnier.de/sport/team.aspx?id=94E5F5B7-8DF7-407A-B203-76B876E42DBE&team=295"}
                 :bild "m2-2016.jpg"]

 :kontakt {:name "Sven Aits"
           :email "sven.aits@web.de"
           :telefon "0171 5417332"

:trainingszeiten [{:zeit "Montag, 19:00 - 21:45"
                   :gruppe "Mannschafts- und Hobyspieler"}
                  {:zeit "Mittwoch, 18:00 - 20:00"
                   :gruppe "Schüler- und Jugendtraining"}
                  {:zeit "Freitags, 19:30 - 21:30"
                   :gruppe "Mannschafts- und Hobyspieler"}]
                   
:trainingsort {:adresse "Rinteln, Burgfeldsheide 4, Halle2"
               :href "https://www.google.de/maps/place/Burgfeldsweide+4,+31737+Rinteln"}
                   
}
